<?xml version="1.0" encoding="UTF-8"?>
<project>
    <target name="phpunit" description="Run unit tests with PHPUnit">

        <exec executable="php" failonerror="true" description="Run deployment:test-install in test environment">
            <arg line="${consolePath} presta:deployment:test-install --env=test" />
        </exec>
        <exec executable="${basedir}/bin/phpunit" failonerror="true">
            <arg line="-c ${basedir}/app/
                     --coverage-html ${basedir}/build/coverage
                     --log-junit ${basedir}/build/junit/phpunit.xml
                     --coverage-clover ${basedir}/build/logs/clover.xml" />
        </exec>
        <exec executable="php" failonerror="true" description="Run deployment:test-clean in test environment">
            <arg line="${consolePath} presta:deployment:test-clean --env=test" />
        </exec>
    </target>
</project>
